# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.log

# Virtualenv
venv/
.env/
.env

# Allure
allure-results/
allure-report/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
